@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;





* {
   box-sizing: border-box;
}



$container_width: 100vw;
$container_height: 100vh;
$font_size: 5vh;


body {
   overflow: hidden;
}


.hidden {
   display: none !important;
}


.background {
   z-index: -1;
}





/* floating menu */


#level-menu {
   z-index: 9999;
   position: absolute;
   width: 96px;
   bottom: 16px;
   right: 16px;
   ul {
      width: 100%;
      margin: 0;
      padding: 0;
      li {
         font-size: 0.7em;
         padding: 0.35em;
         text-align: center;
         width: 100%;
         margin: 1px 0;
         a{color: #FFF;}

         display: block;

         background-color: #bbb;
         &:hover, &.active {

            background-color: #999;
         }

      }
   }
}





#level-1 {
   width: $container_width * 3;
}
#level-2 {
   width: $container_width * 4;
}
#level-4 {
   width: $container_width * 6;
}
#level-0,
#level-3,
#level-5 {
   width: $container_width;
}

$zi-1: -1;
$zi0: 0;
$zi1: 1;
$zi2: 2;

.empty-height-container,
.travel-container,
.scroll-container {
   width: $container_width;
   height:$container_height;
   // overflow: auto;
   border: 1px solid #ddd;
}
#scroll-container {
   position: relative;
   z-index: $zi1;
   overflow: hidden !important;
   border: 1px solid red;
}


.empty-height-container {
   z-index: $zi-1;
   display: block;
   position: absolute;
}


.travel-container {

   position: relative;

   &,.travel {

      z-index: $zi-1;
      left: 0;
      top: 0;
   }

   .travel {

      position: absolute;

      z-index: $zi1;

      .level {

         position: absolute;

         padding: 45px;

         height: $container_height;

         text-align: center;

         font-size: $font_size;

         border: 1px solid #fa0;

         &, * {


            -webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none;
         }

      }




   }


}



#mask-overlay-1,
#mask-overlay-2 {
   margin: 0;
   padding: 0;
   z-index: 99;
   background-color: rgba(0,0,0,0.7);
   position: absolute;
}

#mask-overlay-1 {
   width: calc(100vw - #{$container_width});
   height: $container_height;
   left: $container_width;
}
#mask-overlay-2 {
   width: 100vw;
   top: $container_height;
   height: calc(100vh - #{$container_height});
}


// disabled texgt selection highlighting for all browsers ( ie>=10)
* {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -o-user-select: none;
   user-select: none;
}

p {
   -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -o-user-select: text;
   user-select: text;
}
